/* Body config */
body {
  margin: 8px;
  overflow: hidden;
  /* Background Image w/ parallax effect */
  /* background-image: url("/images/FullSizeRender-3.jpeg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 100px);
  background-size: minmax(340px, auto);
  line-height: 1.5rem;
}

/* CSS for SVG Overlay */

.header_wrap {
  overflow: hidden;
  position: relative;
  /* margin: auto; */
  text-align: center;
}

.title {
  color: black;
  z-index: 20;
}

.full_screen_wrap {
  overflow-y: hidden;
  height: auto;
}

.transparent-text {
  fill-opacity: 0;
  stoke: black;
  stroke-opacity: 0.5;
}

video {
  padding-top: 5%;
  height: 110vh;
  width: 70vw;
}

.ffte {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cls-1 {
  font-size: 662.98px;
  font-family: Impact;
}
.cls-2 {
  letter-spacing: 0.03em;
}
.cls-3 {
  letter-spacing: 0em;
}
.cls-4 {
  font-size: 92.06px;
  font-family: SANTOSDUMONT, SANTOS DUMONT;
}
.cls-5 {
  letter-spacing: 0.03em;
}
.cls-6 {
  letter-spacing: 0em;
}
.cls-7 {
  letter-spacing: -0.14em;
}
.cls-8 {
  letter-spacing: 0.06em;
}
.cls-9 {
  letter-spacing: 0.03em;
}
.cls-10 {
  letter-spacing: -0.14em;
}
.cls-11 {
  letter-spacing: 0.01em;
}
.cls-12 {
  letter-spacing: -0.08em;
}
.cls-13 {
  letter-spacing: 0.12em;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
