html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  color: black;
  font-family: "montserrat", sans-serif;
  /* font-weight: 700; */
  text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.5);
}

/*
        WAT IS THIS?!
        We inherit box-sizing: border-box; from our <html> selector
        Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
      */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body config */
body {
  margin: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Background Image w/ parallax effect */
  /* background-image: url("/images/FullSizeRender-3.jpeg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 100px);
  background-size: minmax(340px, auto);
  line-height: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  background-color: white;
}
